$color-white: #ffffff;

$color-turquoise: #00FFEF; // Primary
$color-navy: #244cff;
$color-marine: #050a20;
$color-green: #00FF9D; // Success
$color-red: #FF2A2A; // Danger
$color-yellow: #FFD600; // Warning
$color-blue: #00BFFF; // Info
$slate-gray: #94A3B8;
$stone-gray: #30343a;