$white: #ffffff;
$greeny-blue: #8DDCD4;

// Palette extracted from public/bg.jpg
$deep-navy: #01072c;
$navy-blue: #0b1356;
$royal-blue: #1c0b9a;
$stone-gray: #a2a098;
$dusty-rose: #976573;

// Palette extracted from public/bg2.webp
$dark-void: #0e0b1a;
$dark-burgundy: #5e1a1e;
$indigo: #1d1361;
$rust-red: #9b2726;
$magenta-haze: #a42f5d;