$color-white: #ffffff;
$color-black: #18181c;

$color-turquoise: #00FFEF; // Primary
$color-navy: #244cff; // Secondary
$color-marine: #050a20;
$color-green: #00FF9D; // Success
$color-red: #FF2A2A; // Danger
$color-yellow: #FFD600; // Warning
$color-blue: #00BFFF; // Info
$slate-gray: #94A3B8;
$stone-gray: #30343a;

$color-gray-50: #f8fafc;
$color-gray-100: #f1f5f9;
$color-gray-200: #e2e8f0;
$color-gray-300: #cbd5e1;
$color-gray-400: #94a3b8;
$color-gray-500: #64748b;
$color-gray-600: #475569;
$color-gray-700: #334155;
$color-gray-800: #1e293b;
$color-gray-900: #0f172a;
$color-gray-950: #020617;


$color-primary-50: #e6fffd;
$color-primary-100: #ccfffb;
$color-primary-200: #99fff7;
$color-primary-300: #66fff3;
$color-primary-400: #33ffef;
$color-primary-500: #00FFEF;
$color-primary-600: #00ccbf;
$color-primary-700: #00998f;
$color-primary-800: #006660;
$color-primary-900: #003330;
$color-primary-950: #001a18;

$color-secondary-50: #e8ecff;
$color-secondary-100: #d1d9ff;
$color-secondary-200: #a3b3ff;
$color-secondary-300: #758dff;
$color-secondary-400: #4767ff;
$color-secondary-500: #244cff;
$color-secondary-600: #1d3dcc;
$color-secondary-700: #162e99;
$color-secondary-800: #0e1e66;
$color-secondary-900: #070f33;
$color-secondary-950: #040819;

$color-info-50: #e6f9ff;
$color-info-100: #ccf3ff;
$color-info-200: #99e7ff;
$color-info-300: #66dbff;
$color-info-400: #33cfff;
$color-info-500: #00BFFF;
$color-info-600: #0099cc;
$color-info-700: #007399;
$color-info-800: #004d66;
$color-info-900: #002633;
$color-info-950: #001319;

$color-warn-50: #fffce6;
$color-warn-100: #fff9cc;
$color-warn-200: #fff399;
$color-warn-300: #ffed66;
$color-warn-400: #ffe733;
$color-warn-500: #FFD600;
$color-warn-600: #ccab00;
$color-warn-700: #998000;
$color-warn-800: #665500;
$color-warn-900: #332b00;
$color-warn-950: #1a1500;

$color-danger-50: #ffe6e6;
$color-danger-100: #ffcccc;
$color-danger-200: #ff9999;
$color-danger-300: #ff6666;
$color-danger-400: #ff4d4d;
$color-danger-500: #FF2A2A;
$color-danger-600: #cc2222;
$color-danger-700: #991919;
$color-danger-800: #661111;
$color-danger-900: #330808;
$color-danger-950: #1a0404;

$color-success-50: #e6fff7;
$color-success-100: #ccffef;
$color-success-200: #99ffdf;
$color-success-300: #66ffcf;
$color-success-400: #33ffbe;
$color-success-500: #00FF9D;
$color-success-600: #00cc7e;
$color-success-700: #00995e;
$color-success-800: #00663f;
$color-success-900: #00331f;
$color-success-950: #001a10;