$white: #ffffff;

$background: #0b1356;

$color-turquoise: #00FFEF;
$color-navy: #000d7a;
$color-green: #00FF9D; // Success
$color-red: #FF2A2A; // Danger
$color-yellow: #FFD600; // Warning
$color-blue: #00BFFF; // Info
$slate-gray: #94A3B8; // Secondary