@use 'colors' as *;

:root {
    // Primary ($color-turquoise)
    --p-primary-100: #{lighten($color-turquoise, 40%)};
    --p-primary-200: #{lighten($color-turquoise, 30%)};
    --p-primary-300: #{lighten($color-turquoise, 20%)};
    --p-primary-400: #{lighten($color-turquoise, 10%)};
    --p-primary-500: #{$color-turquoise};
    --p-primary-600: #{darken($color-turquoise, 10%)};
    --p-primary-700: #{darken($color-turquoise, 20%)};
    --p-primary-800: #{darken($color-turquoise, 30%)};
    --p-primary-900: #{darken($color-turquoise, 40%)};

    // Success - Green ($color-green)
    --p-green-100: #{lighten($color-green, 40%)};
    --p-green-200: #{lighten($color-green, 30%)};
    --p-green-300: #{lighten($color-green, 20%)};
    --p-green-400: #{lighten($color-green, 10%)};
    --p-green-500: #{$color-green};
    --p-green-600: #{darken($color-green, 10%)};
    --p-green-700: #{darken($color-green, 20%)};
    --p-green-800: #{darken($color-green, 30%)};
    --p-green-900: #{darken($color-green, 40%)};

    // Danger - Red ($color-red)
    --p-red-100: #{lighten($color-red, 40%)};
    --p-red-200: #{lighten($color-red, 30%)};
    --p-red-300: #{lighten($color-red, 20%)};
    --p-red-400: #{lighten($color-red, 10%)};
    --p-red-500: #{$color-red};
    --p-red-600: #{darken($color-red, 10%)};
    --p-red-700: #{darken($color-red, 20%)};
    --p-red-800: #{darken($color-red, 30%)};
    --p-red-900: #{darken($color-red, 40%)};

    // Warning - Yellow ($color-yellow)
    --p-yellow-100: #{lighten($color-yellow, 40%)};
    --p-yellow-200: #{lighten($color-yellow, 30%)};
    --p-yellow-300: #{lighten($color-yellow, 20%)};
    --p-yellow-400: #{lighten($color-yellow, 10%)};
    --p-yellow-500: #{$color-yellow};
    --p-yellow-600: #{darken($color-yellow, 10%)};
    --p-yellow-700: #{darken($color-yellow, 20%)};
    --p-yellow-800: #{darken($color-yellow, 30%)};
    --p-yellow-900: #{darken($color-yellow, 40%)};

    // Info - Blue ($color-blue)
    --p-blue-100: #{lighten($color-blue, 40%)};
    --p-blue-200: #{lighten($color-blue, 30%)};
    --p-blue-300: #{lighten($color-blue, 20%)};
    --p-blue-400: #{lighten($color-blue, 10%)};
    --p-blue-500: #{$color-blue};
    --p-blue-600: #{darken($color-blue, 10%)};
    --p-blue-700: #{darken($color-blue, 20%)};
    --p-blue-800: #{darken($color-blue, 30%)};
    --p-blue-900: #{darken($color-blue, 40%)};

    // General Button Overrides
    .p-button {
        font-weight: 600;

        // Ensure contrast text color on primary buttons if needed, 
        // though PrimeVue usually calculates this. 
        // Given our primary is bright turquoise, dark text is likely better.
        // &.p-button-primary {
        //     color: $color-navy;
        // }
    }
}