@use '../variables' as *;
@use '../base/typography' as *;

.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  /* Header */
  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    @extend .typo-h1;
  }

  &__subtitle {
    @extend .typo-subtitle;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__footer {
    text-align: center;
    margin-top: 1rem;
  }

  &-dive {
    max-width: 750px;
  }
}