@use '../variables' as *;

.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  /* Header */
  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-family: $font-playfair;
    font-size: 2.5rem;
    color: $color-white;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-family: $font-inter;
    font-size: 1rem;
    color: rgba($color-white, 1);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__footer {
    text-align: center;
    margin-top: 1rem;
  }
}