@use '../variables' as *;

.p-dialog {
  .p-dialog-header {
    .p-dialog-title {
      font-family: $font-playfair;
      font-size: 1.5rem;
    }
  }

  .p-dialog-close-button {
    color: $color-white;

    &:hover {
      color: rgba($color-white, 0.7);
    }
  }

  // Make modal wider for forms like FormDive
  width: 70rem;
  max-width: 90vw;
}