@function color($name: false) {
    @if map-has-key($colors, $name) {
        @return map-get($colors, $name);
    }
    @error 'Invalid color name';
}
  
@mixin generate-colors {
    @each $name, $color in $colors {
        .bg-#{"" + $name} {
        background-color: $color;
        }
        .color-#{"" + $name} {
        color: $color;
        }
    }
}

@mixin generate-font-face(
  $font-family,
  $name,
  $weight: normal,
  $style: normal
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url("@/fonts/#{$font-family}/#{$name}.ttf") format("ttf"),
  }
}