$colors: (
    "white": #ffffff,
    "background": #000A19,
    "surface": #000A19,
    "primary": #001a2c,
    "secondary": #0c56a3,
    "error": #B00020,
    "info": #2196F3,
    "success": #4CAF50,
    "warning": #FB8C00,
    "gold": #c9b037,
    "silver": #b4b4b4,
    "bronze": #ad8a56,
    "logo_green": #49B4A9,
    "grey_05": #212121,
    "grey_04": #424242,
    "grey_03": #616161,
    "grey_02": #9e9e9e,
    "grey_01": #e0e0e0,
    "heatmap_01": #1F1F22,
    "heatmap_02": #274150,
    "heatmap_03": #30637D,
    "heatmap_04": #3884AB,
    "heatmap_05": #40A6D8,
    "depth_00": #EDF6FF,
    "depth_01" : #89BDEF,
    "depth_02" : #388DE0,
    "depth_03" : #2A6CAC,
    "depth_04" : #184169,
    "depth_05" : #081B2D,
    "depth_06" : #00080F,
    "theme_ice": #8ecae6,
    "theme_night": #001219,
    "theme_wildlife": #ffbe0b,
    "theme_wreck": #80ed99,
    "theme_drift": #118ab2,
    "theme_rescue": #db3a34,
    "theme_reef": #9d4edd,
    "theme_cave": #772f1a,
    "theme_pool" : #00b4d8,
    "theme_sea" : #ade8f4,
    "theme_lake" : #0077b6,
    "theme_explore" : #f4a261,
    "theme_learn" : #e9c46a,
    "theme_guide" : #2a9d8f,
    "theme_teach" : #264653,
   "theme_professional" : #e76f51,
    "gas_start_pressure" : #52b788,
    "gas_end_pressure": #da2c38,
    "gas_oxygen": #FBF5F3,
    "gas_air": #05668D,
    "gas_nitrox": #02C39A,
    "gas_trimix": #FE5F55,
    "gas_undefined": #000022
);

$header_height: 64px;