@use '../variables' as *;
@use '../base/typography' as *;

.button {
  @extend .typo-subtitle;
  color: $color-black;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  /*************** Primary */
  &--primary {
    &.button--plain {
      background-color: $color-primary-500;
      color: $color-black;
      border: 1px solid $color-primary-500;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-primary-200;
        border: 1px solid $color-primary-200;
      }
    }

    &.button--outlined {
      color: $color-primary-500;
      border: 1px solid $color-primary-500;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-primary-950;
        color: $color-primary-200;
        border: 1px solid $color-primary-200;
      }
    }

    &.button--text {
      color: $color-primary-500;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-primary-900;
        color: $color-primary-200;
        border: 1px solid transparent;
      }
    }

    &.button--link {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-primary-500;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-primary-200;
        border: 1px solid transparent;
      }
    }
  }

  /*************** Secondary */
  &--secondary {
    &.button--plain {
      background-color: $color-secondary-500;
      color: $color-white;
      border: 1px solid $color-secondary-500;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-secondary-400;
        border: 1px solid $color-secondary-400;
        color: $color-white;

      }
    }

    &.button--outlined {
      color: $color-secondary-400;
      border: 1px solid $color-secondary-400;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-secondary-950;
        color: $color-secondary-200;
        border: 1px solid $color-secondary-200;
      }
    }

    &.button--text {
      color: $color-secondary-500;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-secondary-900;
        color: $color-secondary-200;
        border: 1px solid transparent;
      }
    }

    &.button--link {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-secondary-500;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-secondary-200;
        border: 1px solid transparent;
      }
    }
  }


  /*************** Success */
  &--success {
    &.button--plain {
      background-color: $color-success-500;
      color: $color-black;
      border: 1px solid $color-success-500;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-success-200;
        border: 1px solid $color-success-200;
      }
    }

    &.button--outlined {
      color: $color-success-500;
      border: 1px solid $color-success-500;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-success-950;
        color: $color-success-200;
        border: 1px solid $color-success-200;
      }
    }

    &.button--text {
      color: $color-success-500;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-success-900;
        color: $color-success-200;
        border: 1px solid transparent;
      }
    }

    &.button--link {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-success-500;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-success-200;
        border: 1px solid transparent;
      }
    }
  }


  /*************** Info */
  &--info {
    &.button--plain {
      background-color: $color-info-500;
      color: $color-black;
      border: 1px solid $color-info-500;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-info-200;
        border: 1px solid $color-info-200;
      }
    }

    &.button--outlined {
      color: $color-info-500;
      border: 1px solid $color-info-500;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-info-950;
        color: $color-info-200;
        border: 1px solid $color-info-200;
      }
    }

    &.button--text {
      color: $color-info-500;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-info-900;
        color: $color-info-200;
        border: 1px solid transparent;
      }
    }

    &.button--link {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-info-500;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-info-200;
        border: 1px solid transparent;
      }
    }
  }

  /*************** Warn */
  &--warn {
    &.button--plain {
      background-color: $color-warn-500;
      color: $color-black;
      border: 1px solid $color-warn-500;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-warn-200;
        border: 1px solid $color-warn-200;
      }
    }

    &.button--outlined {
      color: $color-warn-500;
      border: 1px solid $color-warn-500;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-warn-950;
        color: $color-warn-200;
        border: 1px solid $color-warn-200;
      }
    }

    &.button--text {
      color: $color-warn-500;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-warn-900;
        color: $color-warn-200;
        border: 1px solid transparent;
      }
    }

    &.button--link {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-warn-500;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-warn-200;
        border: 1px solid transparent;
      }
    }
  }

  /*************** Danger */
  &--danger {
    &.button--plain {
      background-color: $color-danger-500;
      color: $color-black;
      border: 1px solid $color-danger-500;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-danger-200;
        border: 1px solid $color-danger-200;
      }
    }

    &.button--outlined {
      color: $color-danger-500;
      border: 1px solid $color-danger-500;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-danger-950;
        color: $color-danger-200;
        border: 1px solid $color-danger-200;
      }
    }

    &.button--text {
      color: $color-danger-500;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-danger-900;
        color: $color-danger-200;
        border: 1px solid transparent;
      }
    }

    &.button--link {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-danger-500;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-danger-200;
        border: 1px solid transparent;
      }
    }
  }

  /*************** Contrast */
  &--contrast {
    &.button--plain {
      background-color: $color-white;
      color: $color-black;
      border: 1px solid $color-white;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-white;
        border: 1px solid $color-white;
      }
    }

    &.button--outlined {
      color: $color-white;
      border: 1px solid $color-white;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        color: $color-white;
        border: 1px solid $color-white;
        background-color: transparent;
      }
    }

    &.button--text {
      color: $color-white;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-white;
        border: 1px solid transparent;
      }
    }

    &.button--link {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-white;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-white;
        border: 1px solid transparent;
      }
    }
  }

  &--jumping {
    transition: transform 0.15s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }
}