@use '../variables' as *;
@use '../base/typography' as *;

.button {
  @extend .typo-subtitle;
  // color: $color-black;

  &--jumping {
    transition: transform 0.15s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }
}