@use '../variables' as *;

.field-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  .p-floatlabel {
    display: block;
  }

  .p-inputtext {
    width: 100%;
  }

  // Password wrapper adjustment
  .p-password {
    width: 100%;

    :deep(.p-password-input) {
      width: 100%;
    }
  }

  .p-error {
    color: $color-red;
    font-family: $font-inter;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
  }
}