@use '../variables' as *;

.gas-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.03);
  position: relative;
  overflow: hidden;
  width: 200px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--gas-color);
  }

  &[color="primary"] {
    --gas-color: #00FFEF;
  }

  &[color="secondary"] {
    --gas-color: #244cff;
  }

  &[color="warn"] {
    --gas-color: #FFD600;
  }

  &:hover:not(.gas-control--locked) {
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
  }

  &--locked {
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.2);
    filter: grayscale(0.5);

    .gas-control__label {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__label {
    font-family: $font-inter;
    font-size: 1rem;
    color: $color-white;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    justify-content: center;
    position: relative;

    .p-knob-text {
      display: none;
    }

    .field-number-slim {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .gas-control__lock {
      position: absolute;
      bottom: 0;
    }
  }
}