@use '../variables' as *;

.logo {
  font-family: $font-playfair;
  font-size: 4rem;
  color: $white;
  line-height: 1.2;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }

  &__highlight {
    color: $turquoise;
    font-style: normal;
    font-family: $font-roboto;
  }

  &--small {
    font-size: 1.25rem;
  }
}